@import './../../styles/variables.scss';

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.description {
  width: 572px;

  &__title {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;
  }

  &__text {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
  }
}

.img {
  border-radius: 50%;
}

@media (max-width: $tablet-width) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 24px;
  }

  .description {
    width: 360px;

    &__title {
      font-size: 34px;
      line-height: 37px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
      text-align: left;
    }
  }

  .img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: $mobile-width) {
  .description {
    width: 300px;
    padding: 0 20px;

    &__title {
      font-size: 24px;
      line-height: 27px;
    }

    &__text {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .img {
    display: none;
  }
}
