@import '~normalize.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
  background: $body-background;
  color: $light-text-color;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: $tablet-width) {
      text-align: center;
    }
  }
}
