@import './../../styles/variables.scss';

.footer {
  position: relative;
  height: 112px;
  margin-top: 101px;
  background-color: $background-dark;

  .copyright {
    position: absolute;
    top: 45%;
  }

  @media (max-width: $tablet-width) {
    margin-top: 50px;
    height: 75px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 25px;
    height: 52px;
  }
}
